<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <!-- Use this configuration setting to register probe paths 
        that are used to locate dependencies during plugin loading.
        Seperate each path with ';'.
    -->
    <!--<add key="vstnetProbePaths" value="[path1];[path2];[path3]"/>-->
  </appSettings>
  
  <!-- Replace [PluginName] with the name of the plugin you wish to trace.
       Multiple plugins can be traced simulataniously, just copy the <source> and <switch> tags for each plugin.
  -->
  <system.diagnostics>
    <!-- Declare all the trace listeners you wish to share accross trace sources here -->
    <sharedListeners>
      <!-- Choose your trace output channels -->
      <add name="Console" type="System.Diagnostics.ConsoleTraceListener"
           initializeData="false" />
      <!-- Only Error traces will go to the Event Log -->
      <add name="ErrorEventLog" type="System.Diagnostics.EventLogTraceListener"
           initializeData="VST.NET">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error" />
      </add>
    </sharedListeners>
    <sources>
      <!-- These TraceSources are available. -->
      <source name="[PluginName].Plugin.PluginCommandProxy">
        <listeners>
          <add name="Console" />
          <add name="ErrorEventLog" />
        </listeners>
      </source>
      <source name="[PluginName].Plugin.HostCommandStub" >
        <listeners>
          <add name="Console" />
          <add name="ErrorEventLog" />
        </listeners>
      </source>
      <source name="Host.PluginCommandStub">
        <listeners>
          <add name="Console" />
          <add name="ErrorEventLog" />
        </listeners>
      </source>
      <source name="Host.HostCommandProxy" >
        <listeners>
          <add name="Console" />
          <add name="ErrorEventLog" />
        </listeners>
      </source>
    </sources>
    <switches>
      <!-- SourceSwitch settings for TraceSources. Value can be:
      ActivityTracing: Allows the Stop, Start, Suspend, Transfer, and Resume events through.  
      All: Allows all events through.  
      Critical: Allows only Critical events through.  
      Error: Allows Critical and Error events through.  
      Information: Allows Critical, Error, Warning, and Information events through.  
      Off: Does not allow any events through.  
      Verbose: Allows Critical, Error, Warning, Information, and Verbose events through.  
      Warning: Allows Critical, Error, and Warning events through.  -->
      <add name="[PluginName].Plugin.PluginCommandProxy" value="Off" />
      <add name="[PluginName].Plugin.HostCommandStub" value="Off" />
      <add name="Host.PluginCommandStub" value="Off" />
      <add name="Host.HostCommandProxy" value="Off" />
    </switches>
  </system.diagnostics>

</configuration>
