<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Extensions.Configuration" version="8.0.0" targetFramework="net8.0" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="8.0.0" targetFramework="net8.0" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="8.0.0" targetFramework="net8.0" />
  <package id="Microsoft.Extensions.Configuration.Json" version="8.0.0" targetFramework="net8.0" />
</packages>
